<div id="plants-overview-holder">
    <div *ngFor="let item of items" class="card plant-card" style="width: 18rem;">
        <img src="{{item.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary" [routerLink]="['/plant',item.id]">Go somewhere</a>
        </div>
      </div>
      
</div>