<div id="plants-overview-holder">
    <div *ngFor="let item of items" class="card plant-card" style="width: 18rem;">
        <img src="{{item.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">Type: {{item.type}}.</p>
          <a class="btn btn-primary" [routerLink]="['/plant',item.id]">Manage</a>
          <button class="btn btn-danger" style="margin-left: 10px" (click)="deletePlant(item.id)">Delete</button>
        </div>
      </div>
      
</div>